@charset "UTF-8";
@import "_common";
$bannerWidth:632px;
$bannerHeight:278px;
$bannerImgWidth:200px;
$bannerImgHeight:129px;
$headerHeight:50px;
body{background: url(../images/bg.jpeg) center center repeat fixed;}
@media (min-width:0px){
body{background: url(../images/bg.jpeg) center center no-repeat fixed;background-size: cover;}
.search-input{
	font-family:$fontFamily;
	padding: 10px 37px 10px 7px;
	font-size:16px;
	height:18px;
	line-height: 18px;
	width:500px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	display:inline-block;
}
}
.wrapper{
	/*确定高度的最小值。防止页面缩放时底部出现空白*/
	min-height: 100%;
	width:100%;
	position: relative;
}
.header{
  /*for IE8-*/
  background:rgba(0,0,0,.8);
  height: $headerHeight;
  text-align: center;
  line-height: $headerHeight;
  // 这行必须要加，否则会出现缩小窗口，左边留白bug
  min-width: 1200px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 99999999;
}
@media \0screen\,screen\9 {
	.header{
		background:#000;
		filter:alpha(opacity=80);
	}
}
.header a{
  color:#fff;
  display:block;
  width:100%;
  height:100%;
  font-size: 14px;
}
.index,.category,.down-app{
  width:80px;
  height: 48px;
}
li.current-page:hover{
     background-color: #363c41;
     height: 48px;
     @include transition(all .2s ease-in-out);
}
.index:hover,.category:hover,.down-app:hover,.login:hover{
     background-color: #363c41;
     height: 50px;
     @include transition(all .2s ease-in-out);
}
.header-box li.category,.header-box li.down-app{
	margin-left:0;
}
.down-app{
	width:80px;
	padding-left:15px;
	position:relative;
}
.header-app-icon {
  position:absolute;
  left: 7px;
  top:17px;
  display: inline-block;
  width: 11px;
  height: 16px;
  background: url(../images/head-app-icon.png) no-repeat 0 0;
  vertical-align: -3px;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}
.down-app:hover .header-app-icon{
	background: url(../images/head-app-icon.png) no-repeat 0 -16px;
}
.current-page{
  border-bottom:2px $commonColor solid;
  background:black;
}
.header-box{
	width:1200px;
	@include marginCenter;
	height:100%;
}
.header-box .f-l{
	margin-left:10px;
}
.logo a span{margin-left: 10px;}
.login{position:relative;width:110px;height:100%;}
.login-title{
	position:absolute;
	left:10px;
}
.login .face{
	padding-top:12px;
	margin-right:10px;
	position:absolute;
	right:20px;
	a{
		width:26px;
	    height:26px;
	    @include border-radius(50%);
		background:url(../images/def-user.png) center center no-repeat;
	    background-size:26px 26px;
	}
}
.login:hover .person-state-list{
	@include opacity(1);
}
.login:hover .person-state-list-container,.person-state-list{
	display:block;
	@include opacity(1);
}
.login-method a{
	display:inline-block;
}
// todo:hover间隙问题
.person-state-list-container{
	position:absolute;
	top: 50px;
    left: 0;
    background-color: #363c41;
	width:110px;
    height: 60px;
    display: none;
}
.person-state-list{
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    @include opacity;
    @include transition(all .4s ease-in-out);
    li{
	  text-align: center;
	  height: 30px;
    }
    li:hover a{
    	background: rgb(0,0,0);
    }
}
.triangle{
	width: 10px;
	height: 10px;
	background: $commonColor;
	position: absolute;
	z-index:2;
	top:-4px;
	left: 50%;
	margin-left:-5px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	/*HACK:for IE8*/
	display: none;
}
@media (min-width:0px){.triangle{display:block;}}
/*HACK:for IE8*/
.footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  word-spacing: 3px;
  text-align: center;
  line-height:12px;
}
.footer a{
	color:#fff;
	font-size:12px;
	cursor: pointer;
	margin-left:12px;
}
.footer a:hover{
	text-decoration: underline;
}

.search-area{
	margin-top: 150px;
}
.search-box{
	width: 620px;
	//?为什么设置了高度之后，就会有空白？
	// height: 150px;
	/*for IE8-*/
	// background: #e9e9e9;
	// background:rgba(233,233,233,.6);
	@include marginCenter;
}
.search-wrapper{
	margin-top:30px;
}
.search-form{
	text-align:center;
	position: relative;
}
.btn{
	position:absolute;
    height: 36px;
    width:36px;
    right: 2px;
    top:2px;
    @include border-radius(3px);
    background:url(../images/search.png) center center no-repeat $commonColor;
    background-size:20px 20px;
    cursor: pointer;
}
.search-input{
	padding: 10px 37px 10px 7px;
	height:18px;
	line-height: 18px;
	width:576px;
	height:20px;
	display:inline-block;
}
.deleteAll{
	position:absolute;
	left: 560px;	
    top:11px;
    height: 16px;
    width: 16px;
	background:url(../images/clear.png) center center no-repeat;
}
.s-logo{
	text-align:center;
}
.banner-area{
	margin-top:30px;
	padding-bottom:55px;
	// for IE9 IE10
	padding-bottom:60px\9\0;
}
.banner-box{
	width:$bannerWidth;
	height:$bannerHeight;
	@include marginCenter;
	position: relative;
	// for IE8
	// background: #9e9e9e;
	// background: rgba(0, 0, 0, 0.4);
}
.banner-box:hover .change-btn,.change-btn:hover{
   filter:alpha(opacity=100);
   opacity: 1;
}
.change-btn{
  position:absolute;
  height: 100%;
  width: 40px;
  top:0;
  filter:alpha(opacity=0);
  opacity: 0;
  transition:.4s;
}
.prev-btn{
	left:-40px;
	background:url(../images/prev.png) center center no-repeat;
}
.next-btn{
	right:-40px;
	background:url(../images/next.png) center center no-repeat;
}
.banner-container{
	position:relative;
	width:$bannerWidth;
	height:$bannerHeight;
	overflow:hidden;
}
.banner-box-ul{
	position:absolute;
	left:0;
	height:268px;
}
.banner-box-ul-li{
	float:left;
}
.banner-show{
	// 612px
	width:$bannerWidth;
}
.banner-show li{
  float: left;
  //height: 16*3 + 188*2 = 424px
  //width: 16*4 + 188*3 = 628px
  margin:5px;
  // @include opacity(1);
  // @include opacity(0.7);
  @include transition(all .25s ease-in-out);
  a{
  	display:block;
	height:100%;
	width:100%;
	position: relative;
    color:#333;
	p{
		color:#fff;
		position: absolute;
		bottom: 0;
	    height: 35px;
	    // 减去 3px padding-left
	    width: $bannerImgWidth - 3;
	    line-height: 35px;
	    text-align: center;
	    background:rgba(0,0,0,0.7);
		padding-left: 3px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 12px;
	}
	// 防止在firefox下图片加载失败导致的父容器宽高塌陷
	img{display: inline-block;width:$bannerImgWidth;height:$bannerImgHeight;}
  }
}
@media \0screen\,screen\9{
	.banner-show li a p{
		filter: alpha(opacity=1);
		background: #000;
	}
}
.banner-show li:hover{
  @include opacity(0.7);
}