@charset "UTF-8";
@import "_common";
$headerHeight:50px;
html{height:100%;}
h1,h2,h3,h4,h5{font-weight:normal;}
body{background:#f7f7f7;padding-bottom:60px;}
.wrapper{
	/*确定高度的最小值。防止页面缩放时底部出现空白*/
	width:100%;
    padding-top:70px;
}
.header{
  /*for IE8-*/
  background:rgba(0,0,0,.8);
  height: $headerHeight;
  text-align: center;
  line-height: $headerHeight;
  // 这行必须要加，否则会出现缩小窗口，左边留白bug
  min-width: 1200px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 99999999;
}
@media \0screen\,screen\9 {
	.header{
		background:#000;
		filter:alpha(opacity=80);
	}
}
.header a{
  color:#fff;
  display:block;
  width:100%;
  height:100%;
  font-size: 14px;
}
.index,.category,.down-app{
  width:80px;
  height: 48px;
}
.index:hover,.category:hover,.down-app:hover,.login:hover{
     background-color: #363c41;
     @include transition(all .2s ease-in-out);
}
.header-box li.category,.header-box li.down-app{
	margin-left:0;
}
.down-app{
	width:80px;
	padding-left:15px;
	position:relative;
}
.header-app-icon {
  position:absolute;
  left: 7px;
  top:17px;
  display: inline-block;
  width: 11px;
  height: 16px;
  background: url(../images/head-app-icon.png) no-repeat 0 0;
  vertical-align: -3px;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
}
.down-app:hover .header-app-icon{
	background: url(../images/head-app-icon.png) no-repeat 0 -16px;
}
.current-page{
  border-bottom:2px $commonColor solid;
  background:black;
}
.header-box{
	width:1200px;
	@include marginCenter;
	height:100%;
}
.header-box .f-l{
	margin-left:10px;
}
.logo a span{margin-left: 10px;}
.login{position:relative;width:110px;height:100%;}
.login-title{
	position:absolute;
	left:10px;
}
.login .face{
	padding-top:12px;
	margin-right:10px;
	position:absolute;
	right:20px;
	a{
		width:26px;
	    height:26px;
	    @include border-radius(50%);
		background:url(../images/def-user.png) center center no-repeat;
	    background-size:26px 26px;
	}
}
.login:hover .person-state-list{
	@include opacity(1);
}
.login:hover .person-state-list-container,.person-state-list{
	display:block;
	@include opacity(1);
}
// todo:hover间隙问题
.person-state-list-container{
	position:absolute;
	top: 50px;
    left: 0;
    background-color: #363c41;
	width:110px;
    height: 60px;
    display: none;
}
.person-state-list{
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    @include opacity;
    @include transition(all .4s ease-in-out);
    li{
	  text-align: center;
	  height: 30px;
    }
    li:hover a{
    	background: rgb(0,0,0);
    }
}
@media (min-width:0px){.triangle{display:block;}}
.content-area{
	width:100%;
}
.content-box{
	width:1180px;
	@include marginCenter;
}
.main-content{
	width:802px;
}
.search-form{
	text-align:center;
	position: relative;
}
.btn{
	position:absolute;
    height: 36px;
    width:36px;
    right: 2px;
    top:2px;
    @include border-radius(3px);
    background:url(../images/search.png) center center no-repeat $commonColor;
    background-size:20px 20px;
    cursor: pointer;
}
.search-input{
	padding: 10px 37px 10px 7px;
	height:18px;
	font-size:16px;
	font-family:$fontFamily;
	line-height: 18px;
	width:758px;
	height:20px;
	display:inline-block;
}
.deleteAll{
	position:absolute;
	left: 560px;	
    top:11px;
    height: 16px;
    width: 16px;
	background:url(../images/clear.png) center center no-repeat;
}
.hot-search{
	margin-top:10px;
}
.hot-title{
	font-size:16px;
	color:rgb(102,102,102);
	margin-right:5px;
	padding-top:2px;
}
.hot-search-word{
	margin:0 5px;
}
.hot-search-word a{
	display:inline-block;
	color:#fff;
    background:#ff0014;
	border-radius:12px;
	padding:0 24px;
	height:24px;
	line-height:24px;
	@include transition(all .2s ease-in-out);
}
.hot-search-word a:hover{
    background:#e83748;
}
.search-result-list{
	margin-top:30px;
}
.result-item-img-container{
	height:100%;
}
.special li a{
    display: block;
    position:relative;
}
.special li a p{
    position:absolute;
    color: #fff;
    bottom:40px;
    width: 100%;
    text-align: center;
    z-index: 3;
}
.black-musk{
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,.1);
    z-index: 2;
}
.special li a span{
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom:8px;
    height:30px;
    background:#ff0014;
    color:#fff;
    font-size:14px;
    line-height:30px;
    padding:0 20px;
    cursor:pointer;
}
.result-item-img-container img,.special img{
	-webkit-transition: all 200ms;
}
.result-item-img-container:hover img,.special li:hover img{
 box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
 // 放大的话，字体会模糊
 // transform: scale(1.01);
}
.result-item-img-container img{
	position:absolute;
	z-index:2;
}
.loading:after{
	z-index:1;
}
.result-item{
	border-bottom:1px solid rgb(227,227,227);
    // 防止float高度塌陷
	height:199px;
	margin:10px 0;
}
.imglink{
	display:block;
	width:188px;
	height:198px;
}
.result-item-detail{
	margin-left:10px;
	width:600px;
    height: 177px;
    position:relative;
}
.detail-title{
	font-size:16px;
}
.detail-title a{
	color:rgb(102,102,102);
	font-size:18px;
}
.detail-title a:hover{
	text-decoration: underline;
}
.target-word{
	color:$commonColor;
}
.detail-keywords{
	margin-top:14px;
	color:rgb(153,153,153);
}
.detail-keywords li{margin-right:10px;}
.detail-keywords span{
	color:rgb(255,0,20);
}
.detail-author{
	// margin-top:110px;
    position:absolute;
    bottom:0;
    left: 0;
	width:600px;
}
.detail{
	width:58%;
    color:#999;
}
.author{
	width:42%;
}
.author-face-container{
	display:inline-block;
	height:20px;
	width:20px;
	overflow:hidden;
	border-radius:50%;
	margin-right:10px;
}
.author-face-container img{
	width:100%;
	height:100%;
	display:block;
}
.author-name a{
  font-size: 14px;
  color: #999999;
  vertical-align: top;
}
.hot-topics-area{
	width:277px;
	margin-left:80px;
	margin-top:100px;
}
.loading:after{
	z-index:-1;
}
.hot-topics img{
	vertical-align: middle;
}
.hot-topics{
	font-size:16px;
	color:rgb(51,51,51);
}
.hot-topics img{
    margin-right: 8px;
}
.special{
	margin-top:10px;
}
.special li{
	margin-top:10px;
}

.erweima{
    display: block;
    margin-top:20px;
    width:277px;
    height: 129px;
    background: #e9e9e9;
    color:#999;
    font-size: 20px;
}
.erweima span{
 display:inline-block;
 padding-top:35px;
 padding-left:30px;
 height:100px;
}
.erweima img{
    margin-left:40px;
    margin-top: -36px; 
}
/*HACK:for IE8*/
.footer-area{
	width:100%;
	position: absolute;
	bottom: 0;
}
.footer-box{
  width: 1180px;
  @include marginCenter;
}
.footer-box p,.footer-box p a{
	font-size:13px;
	color:#A3A2A2;
}
.no-result{
	margin-top:120px;
	margin-left:180px;
	color:#666;
	font-size:16px;
	line-height:60px;
}
.no-result-face{
	width:60px;
	height:60px;
	margin-right:30px;
	background:url(../images/no-result.png) center center no-repeat;
}
// 礼物问答机 start
.present-area{
    display: none;
}
.present-filter{
    margin-top: 28px;
    font-size:16px;
    color: #999;
}
.present-type h2{
    font-size: 16px;
    color: #333;
    font-weight: normal;
}
.present-type{
    line-height: 2.5;
}
.present-type h2,.present-type ul{
    float: left;
}
.present-type ul{
    margin-left: 40px;
}
.present-type ul li{
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.present-type ul li:not(.cur-select):hover{
    color:#f3a3a6;
}
.cur-select{
    color: #ff0014;
}
// 卡片
.present-result{
    margin-top: 28px;
}
.goodthing-list{
    margin:0 -10px;
    background:#f7f7f7;
    padding-top:10px;
}
.goodthing{
    width:380px;
    margin:10px;
    float: left;
    background:#eee;
    // IE9 下卡片会超出546px
    // max-height: 546px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.goodthing:hover{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
}
.goodthing a{
    display: block;
}
.goodthing-highlight{
    padding:12px;
    background:#eee;
    color: #14191e;
    overflow: hidden;
}
.goodthing-highlight h2{
    width: 356px;
    font-size: 18px;
    height: 54px;
    max-height: 54px;
    text-align:left;
    color:#666;
    line-height: 1.5;
    word-break:break-all;
    overflow : hidden;
    display: -webkit-box;
    display: -o-box;
    display: box;
    -webkit-box-pack:center;
    -o-box-pack:center;
    box-pack:center;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
   }
   .icon-list{
     border-top:1px #d0d0d0 solid;
     margin-top: 11px;
     padding-top:11px;
   }
/* IE 8 9 10 11 hack*/
@media screen\0 {
    .goodthing-highlight h2{
        display: table-cell;
        vertical-align: middle;
    }
    .goodthing-highlight h2 div{
        max-height: 48px;
        overflow: hidden;
    }
}
@-moz-document url-prefix() {
     .goodthing-highlight h2{
        display: table-cell;
        vertical-align: middle;
    }
    .goodthing-highlight h2 div{
        max-height: 48px;
        overflow: hidden;
    }
}
.goodthing-highlight p{
    margin-top:10px;
    font-size: 14px;
    max-height: 112px;
    overflow : hidden;
    word-break:break-all;
    display: -webkit-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    -o-line-clamp: 4;
    line-clamp: 4;
}
@-moz-document url-prefix(){.goodthing-highlight p{height:100%;}}
.img-container{
    width:380px;
    height:310px;
    overflow: hidden;
    color: #fff;
}
.icon-item{
    font-size:13px;
    color:#333;
    font-size:0;
    margin-left: 20px;
}
.icon-list .f-l{
    margin-left: 0;
}
.icon{
    height:17px;
    width:18px;
    display:inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.icon-s{
    background-image:url(../images/s.png);
}
.icon-p{
    background-image:url(../images/p.png);
}
.icon-z{
    background-image:url(../images/z.png);
}
.icon-item span{
   font-size: 13px;
   vertical-align: middle;
   margin-left: 10px;
}
// 分页loading 效果
.rectangle-bounce {
    text-align: center;
    height:50px;
}
.rectangle-bounce div {
    height: 100%;
    width: 10px;
    margin: 0 3px 0 0;
    background-color: #e60012;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out
}
.rectangle-bounce .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}
.rectangle-bounce .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s
}
.rectangle-bounce .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s
}
.rectangle-bounce .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s
}
@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1)
    }
}
@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4)
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}
// 分页loading效果 end